{% assign navs = include.nav | default: site.data.navigation %}

{% unless include.wrap == false %}
  <input type="checkbox" id="nav-toggle" class="nav-check" hidden="hidden">
  <nav role="{{ include.role }}" class="{{ include.class }}">
  <label for="nav-toggle" class="nav-toggle" title="Menu"></label>
  <label for="nav-toggle" class="nav-screen"></label>
{% endunless %}

  <ul class="nav-menu">

    {% for nav in navs %}
      {% assign p_url_slash = page.url | replace: ".html", "/" %}
      {% assign p_url_short = page.url | remove: ".html" %}
      {% if nav.url == p_url_slash %}
        {% assign active = " active" %}
      {% elsif nav.url == p_url_short %}
        {% assign active = " active" %}
      {% else %}
        {% assign active = "" %}
      {% endif %}

      {% if nav.nav %}
        {% assign navgroup = " nav-group" %}
      {% else %}
        {% assign navgroup = "" %}
      {% endif %}

      <li class="nav-{{ nav.url | slugify | default: "home" }}{{ nav.class }}{{ navgroup }}{{ active }}" role="menuitem">
        {% if nav.url %}
          <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.title }}</a>
        {% else %}
          <span>{{ nav.title }}</span>
        {% endif %}
        {% if nav.nav %}
          {% include nav.html nav=nav.nav wrap=false %}
        {% endif %}
      </li>
    {% endfor %}

  </ul>

{% unless include.wrap == false %}
  </nav>
{% endunless %}
